@font-face {
  font-family: 'Lufga Regular';
  src: url('./assets/fonts/LufgaRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga SemiBold';
  src: url('./assets/fonts/LufgaMedium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lufga Bold';
  src: url('./assets/fonts/LufgaSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* global styles */
body {
  font-family: 'Lufga Regular', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lufga Bold', sans-serif;
}
a, button {
  font-family: 'Lufga SemiBold', sans-serif;
}



html, body {
  scroll-behavior: smooth;
}
/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
